extends ./layout.pug

block content

     each item in items

        .container

        section#products
          .row.galleryContainer
            .col-md-4.portfolio-item
              a(href='/productDetail')
                img.img-responsive(src='/images/art4.jpg', alt='')
              h3
                a(href='/productDetail')  #{item.title}

            .col-md-4.portfolio-item
              a(href='/productDetail')
                img.img-responsive(src='/images/art4.jpg', alt='')
              h3
                a(href='/productDetail')  #{item.title}
            .col-md-4.portfolio-item
              a(href='/productDetail')
                img.img-responsive(src='/images/art3.jpg', alt='')
              h3
                  a(href='#')  #{item.title}
          .row
            col-md-4.portfolio-item.text-center
