extends ./layout.pug

block content
      .masterConteiner
         each item in items

            .containerImages
                .item
                      a(href='/productDetail')
                      img.img-responsive(src='/images/art1.jpg', alt='')

                      h4
                        a(href='/productDetail')  #{item.title}
