extends layout.pug

block content
    .backgroundImg
      .site-wrapper
        .site-wrapper-inner
          .cover-container
          .section
            .inner.cover.imgHome
              img.img-responsive(src='images/Logo-1.png', alt='')

              p
                | Art is a legacy that should not be leaning against a corner.
                | Sharing art is sharing experiences. As an Artist here is the opportunity to make your self known.
                | Embrace the future and use blockchain technology to share your work with the World.
                p
                a.btn.btn-lg.btn-default(href='./detail') View Gallery
