.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.cover-container img{

  width: 700px;
}

.cover-container li{

 color:black;
}
.formContainer{
  margin-left: 25%;
  margin-right:25%;
  text-align:center;
}
.containerLogin{
 margin-top: -150px;
 height: 100vh;
 margin-left: 25%;
 margin-right:25%;
 text-align:center;
}
.productDetail{
  margin-top: -50px;
  margin-left: 5%;
  margin-right:5%;
  text-align:center;
}
.productHistory{
  text-align:center;
}
.rowDetails{
  margin-top: 30px;
  text-align: center;
}
.galleryContainer{

  margin-left: 20%;
  margin-right: 20%;
}
.cover {
  padding: 0 20px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

}
.site-wrapper h1{
  font-size:30px;
  text-align: center;

}
.site-wrapper p{
  padding-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.inner {
  padding: 30px;

}
.backgroundImg {
  display: flex;
  width: 100%;
  height: 80%;
  background: url(/images/justartBackground_1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#containerImages {
      display: inline-block;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      height: 50vh;
    }.item {


          float: left;
          margin: 5px 5px 5px 5px;
        }

        .masterConteiner{
      width: 80%
      height:100vh;
      float: left;
      margin-left: 5%;
    }
    .container{
      margin-bottom: 20px;
    	margin-top: 200px;
    	width: 50%;
    }
