radioButton{
  margin-left: -15px;
}
.loginButton{
  background-color: #c0dfd9;
  Color:#173E43;
}
.buttonPadding{
  margin-top: 10px;
  width: 100px;

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
